Package: libxml2-doc
Source: libxml2
Version: 2.9.4+dfsg1-7
Architecture: all
Maintainer: Debian XML/SGML Group <debian-xml-sgml-pkgs@lists.alioth.debian.org>
Installed-Size: 8668
Suggests: devhelp
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://xmlsoft.org
Description: Documentation for the GNOME XML library
 XML is a metalanguage to let you design your own markup language.
 A regular markup language defines a way to describe information in
 a certain class of documents (eg HTML). XML lets you define your
 own customized markup languages for many classes of document. It
 can do this because it's written in SGML, the international standard
 metalanguage for markup languages.
 .
 This package contains general information about the GNOME XML library
 and more specific API references.
