Package: python-libxml2-dbg
Source: libxml2
Version: 2.9.8-1
Architecture: amd64
Maintainer: Debian XML/SGML Group <debian-xml-sgml-pkgs@lists.alioth.debian.org>
Installed-Size: 1562
Depends: python-dbg, python-libxml2 (= 2.9.8-1), libc6 (>= 2.14), libpython2.7-dbg (>= 2.7), libxml2 (>= 2.7.4)
Section: debug
Priority: optional
Homepage: http://xmlsoft.org
Description: Python bindings for the GNOME XML library (debug extension)
 XML is a metalanguage to let you design your own markup language.
 A regular markup language defines a way to describe information in
 a certain class of documents (eg HTML). XML lets you define your
 own customized markup languages for many classes of document. It
 can do this because it's written in SGML, the international standard
 metalanguage for markup languages.
 .
 This package contains the files needed to use the GNOME XML library
 in Python programs for use with the Python debug interpreter.
Build-Ids: e3403a6fa540ae17497df93e5f99109004a0c21d
