Package: libxml2-utils-dbgsym
Source: libxml2
Version: 2.9.8-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian XML/SGML Group <debian-xml-sgml-pkgs@lists.alioth.debian.org>
Installed-Size: 66
Depends: libxml2-utils (= 2.9.8-1)
Section: debug
Priority: optional
Description: debug symbols for libxml2-utils
Build-Ids: 6c040fadef8aa9a1f677449966e745ee4626fcbf 82fbcd9459ef2e2f4db52a3e3138ae484dce187c
